.hide{
    display: none;
}

#action_menu{
    max-width: 300px;
}

.show{
    display:block;
    animation-name: fade_in;
    animation-duration: 0.8s;
}

.action p{
    margin-top: 8px;
    margin-bottom: 8px;
}

.selected , .action:hover{
    animation-name: bgfade_in;
    animation-duration: 0.5s;
    color: #fff;
    background-color: #383838;
    /* border-radius: 40px; */
}

.action{
    cursor: pointer;
}

@keyframes bgfade_in{
    from {color : #000; background-color: #fff;}
    to {color: #fff; background-color: #383838;}
}


@keyframes fade_in{
    from {opacity: 0;}
    to {opacity: 1;}
}

.product{
    box-shadow:  0 0.1rem 0.2rem rgba(0, 0, 0, 0.25);
    transition: box-shadow 100ms ease-in-out;
    transition-property: box-shadow,transform,-webkit-transform;
    cursor: pointer;
    padding-top: 2%; 
    padding-bottom: 2%;
    max-width: 1000px;
}
.product:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,.25);;
    transform: scale(1.015);
}

.block{
    padding: 2%;
}
#product_blk_info{
    max-width: 1000px;
    padding: 16px;
}