body {
    /* background: url("login_background.svg"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: 100% 100%;
    font-family: sans-serif;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    border-radius: 100px;
}

.box input[type="text"],
.box input[type="password"] {
    background: none;
    display: block;
    margin: 20px auto;
    width: 200px;
    text-align: center;
    border-radius: 40px;
    border: 2px solid #3498db;
    padding: 14px 10px;
    outline: none;
    color: white;
    transition: 100ms;
}

.box button[type="submit"] {
    background: none;
    display: block;
    margin: 20px auto;
    width: 100px;
    text-align: center;
    border-radius: 40px;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    outline: none;
    color: white;
    transition: 0.25ms;
    cursor: pointer;
}

.box button[type="submit"]:hover {
    background: #2ecc71;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    background: none;
    display: block;
    margin: 20px auto;
    width: 280px;
    text-align: center;
    border-radius: 40px;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    outline: none;
    color: white;
    transition: 0.25ms;
}